@mixin animation($range: range) {
  animation: appear 1s;
  animation-timeline: scroll();
  animation-range: $range;
}

.aboutMeContainer {
  .me {
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    color: #fff;
    @include animation(cover 0 cover 50%);

    .name {
      display: block;
      color: #ffbe98;
      margin-bottom: 2rem;
      font-size: clamp(4.4rem, 5vw, 6.4rem);
      font-weight: 800;
      @include animation(cover 0 cover 60%);
    }

    .colon,
    .dot {
      font-weight: bold;
      color: #707070;
      font-size: clamp(3rem, 5vw, 5.4rem);
    }

    .frontend {
      background: #ffffff;
      padding: 0.35rem 1.5rem;
      color: #1a1c22;
      font-weight: 700;
      position: relative;

      @media screen and (max-width: 767px) {
        display: inline-block;
        margin: 0.5rem 0;
      }

      svg {
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
      }
    }

    .elegant {
      position: relative;
      letter-spacing: 0;
      line-height: 1;
      color: #ffd55e;
      font-size: clamp(4.2rem, 5vw, 6.6rem);
    }

    .modern {
      position: relative;
      display: inline-flex;

      svg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .intuitive {
      display: inline-flex;
      position: relative;

      span:nth-child(2) {
        color: #12a8ed;
        animation: animate 3s ease infinite;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &:hover {
        svg {
          @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
              transform: translateX($i * 1rem);
              opacity: 1;
            }
          }
        }
      }

      svg {
        width: 40px;
        opacity: 0;

        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            transform: translateX(-$i * 3rem);
            transition: all $i * 0.1s ease;
          }
        }
      }

      .techs {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25rem;
      }
    }
  }

  h2 {
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    line-height: 1.5;
    color: #555;
    font-weight: 400;
    margin-top: 2rem;
    letter-spacing: 1px;
    @include animation(cover 0 cover 70%);

    span {
      display: block;

      &:nth-child(2) {
        margin-top: 0.5rem;
      }
    }
  }

  .socials {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    @include animation(cover 0 cover 80%);
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 12%,
      8% 22%,
      16% 25%,
      27% 30%,
      35% 30%,
      46% 28%,
      50% 26%,
      50% 50%,
      0% 50%
    );
  }

  50% {
    clip-path: polygon(
      0% 30%,
      7% 32%,
      17% 33%,
      25% 36%,
      33% 25%,
      42% 22%,
      50% 23%,
      50% 50%,
      0% 50%
    );
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  40% {
    opacity: 0;
  }

  to {
    transform: translateY(-10vh);
  }
}
