.primary {
  border: 1px solid #ffd55e;
  color: #fff;
  padding: 0 3rem;
  height: 6rem;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 1px;
  background: transparent;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  &:not(.disabled) {
    transition: color 0.15s ease;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ffd55e;
    width: 0;
    transition: width 0.25s ease;
  }

  &:hover {
    &.disabled {
      border: 1px solid #202228;

      &:before {
        background: transparent;
      }

      span {
        color: #fff;
        opacity: 0.5;
      }
    }

    span {
      color: #1a1c22;
    }

    svg {
      transform: translateX(1rem);
    }

    &:not(.disabled):before {
      width: 100%;
    }
  }

  span {
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  svg {
    margin-left: 0.75rem;
    transition: all 0.25s ease;
    z-index: 1;
  }
}

.light {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.25s ease;

  &:before {
    content: "";
    background: #999;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.25s ease;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.icon {
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 1px;
  background: transparent;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    svg {
      opacity: 1;
    }
  }

  svg {
    width: 35px;
    opacity: 0.25;
    transition: all 0.15s ease;
  }
}

.underline {
  border: none;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;

  span {
    color: #555;
    font-size: 1.4rem;
    letter-spacing: 1px;
    position: relative;

    &:before {
      content: "";
      background: #333;
      height: 2px;
      width: 0;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      transition: all 0.25s ease;
    }
  }

  svg {
    transition: all 0.25s ease;
    margin-left: 0.75rem;
    opacity: 0;
  }

  &:hover {
    svg {
      opacity: 1;
      transform: translateX(0.25rem);

      path {
        stroke: #fff;
      }
    }

    span {
      color: #fff;

      &:before {
        width: 100%;
      }
    }
  }
}
