.headerContainer {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 10rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
  background: linear-gradient(to bottom, #101113 30%, transparent);

  .logo {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  nav {
    @media screen and (max-width: 767px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      list-style: none;

      li {
        color: #555;
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        &:before {
          content: "";
          background: #333;
          height: 2px;
          width: 0;
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          right: 0;
          margin: auto;
          transition: all 0.25s ease;
        }

        &:hover,
        &.active {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
