.headerContainer {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;

  .logo {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  nav {
    @media screen and (max-width: 767px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      list-style: none;

      li {
        color: #777;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;

        &:before {
          content: "";
          background: #1b1c20;
          height: 5px;
          width: 0;
          border-radius: 5px 0 5px 0;
          position: absolute;
          bottom: -1rem;
          right: -1rem;
          margin: auto;
          transition: all 0.25s ease;
        }

        &:hover,
        &.active {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
