.hamburgerContainer {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 330;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    position: relative;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 320;

    &.open {
      &:before {
        transform: rotateZ(-45deg);
      }

      &:after {
        transform: rotateZ(45deg);
        margin-left: 0;
        width: 30px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #fff;
      transform: translateY(-5px);
      transition: all 0.5s ease;
      pointer-events: none;
    }

    &:after {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      margin-left: 5px;
      background-color: #fff;
      transform: translateY(5px);
      transition: all 0.5s ease;
      pointer-events: none;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100dvh;
  z-index: 100;
  pointer-events: none;

  &.open {
    pointer-events: initial;

    .fade {
      opacity: 1;
    }

    .drawer {
      transform: translateX(0);
      transition: all 0.5s ease-out;
    }
  }

  .fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .drawer {
    position: fixed;
    right: 0;
    top: 0;
    background: #0b0d0e;
    width: 480px;
    max-width: 100svw;
    z-index: 300;
    transform: translateX(480px);
    transition: all 0.25s ease-in-out;
    padding: 15rem 5rem 2rem;
    height: 100svh;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      padding: 10rem 3rem 2rem;
    }

    .pages {
      margin-bottom: 5rem;

      ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;

        li {
          color: #fff;
          font-size: 5rem;
          position: relative;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          max-height: 6rem;
          line-height: 6rem;
          cursor: pointer;

          &.active {
            span:nth-child(1) {
              opacity: 1;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              background: #fff;
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 50%;
            }
          }

          span {
            height: 6rem;
            transition: all 0.5s ease;
          }

          &:hover:not(.active) {
            span:nth-child(1) {
              transform: translateY(-6rem);
            }

            span:nth-child(2) {
              transform: translateY(-6rem);
            }
          }

          span:nth-child(1) {
            color: #777;
          }

          span:nth-child(2) {
            transform: translateY(0);
          }
        }
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 2rem 0;

      .links {
        display: flex;
        align-items: center;
        gap: 2rem;

        .link {
          position: relative;
          display: flex;
          justify-content: center;

          &:hover {
            span {
              color: #fff;

              &:before {
                width: 100%;
              }
            }
          }

          span {
            color: #777;
            font-size: clamp(1.4rem, 3vw, 1.6rem);
            letter-spacing: 1px;
            position: relative;

            &:before {
              content: "";
              background: #333;
              height: 2px;
              width: 0;
              position: absolute;
              bottom: -0.5rem;
              left: 0;
              transition: all 0.25s ease-in-out;
            }
          }
        }
      }

      .email {
        color: #777;
        font-size: clamp(1.4rem, 3vw, 1.6rem);
        letter-spacing: 1px;
        position: relative;
        margin-top: 3rem;

        &:hover {
          color: #fff;

          &:before {
            width: 100%;
          }
        }

        &:before {
          content: "";
          background: #333;
          height: 2px;
          width: 0;
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}
