.articlesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    font-weight: 300;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    border: 1px solid #ffffff10;
    border-radius: 20px;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: calc(100% - 105px);
      z-index: 1;
      background: linear-gradient(to bottom, rgba(16, 17, 19, 0.25), #101113);
      border-radius: 20px;
    }

    .picture {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;

      svg {
        width: 150px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      padding: 2rem;

      .name {
        font-size: clamp(1.6rem, 3vw, 1.8rem);
        margin: 1.5rem 0 1rem;
      }

      .date {
        margin-right: 1rem;
        color: #777;
        font-size: clamp(1.4rem, 3vw, 1.6rem);
        transition: all 0.25s ease;
        position: relative;
      }
    }
  }
}
