.articlesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    font-weight: 300;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    border: 1px solid #ffffff10;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 30px 50px rgba(16, 17, 19, 0.3);
    cursor: pointer;

    .picture {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 180px;

      svg {
        width: 150px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(16, 17, 19, 0.25), #101113);
        border-radius: 20px;
      }
    }

    .name {
      font-size: clamp(1.6rem, 3vw, 1.8rem);
      margin: 1.5rem 0 1rem;
    }

    .date {
      margin-right: 1rem;
      color: #fff;
      font-size: clamp(1.4rem, 3vw, 1.6rem);
      opacity: 0.5;
      transition: all 0.25s ease;
      position: relative;
    }
  }
}
