@mixin animation($name: name, $range: range, $timeline: timeline) {
  animation: $name 1s forwards;
  animation-timeline: $timeline;
  animation-range: $range;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  place-items: center;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .project {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #101113;
    border-radius: 15px;

    @media screen and (min-width: 768px) {
      &:nth-child(1) {
        @include animation(fromLeft, cover 0% cover 40%, view());
      }
      &:nth-child(2) {
        @include animation(fromRight, cover 0% cover 40%, view());
      }
      &:nth-child(3) {
        @include animation(fromLeft, cover 0% cover 40%, view());
      }
      &:nth-child(4) {
        @include animation(fromRight, cover 0% cover 40%, view());
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .picture {
          img {
            transform: scale(1.1);
          }
        }

        // .details {
        //   opacity: 1;
        //   transform: translateY(0);
        //   transition: all 0.25s ease;
        //   pointer-events: initial;
        // }
      }
    }

    .picture {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 15px 15px 0 0;
      height: 250px;

      img {
        transition: all 0.5s ease;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 1rem;
      padding: 2rem;

      .name {
        font-weight: 700;
        color: #fff;
        font-size: 2.6rem;
      }

      .resume {
        color: #777;
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: clamp(1.4rem, 3vw, 1.6rem);
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }

      .techs {
        margin-top: 3rem;
        margin-bottom: 5rem;
        display: flex;
        gap: 1.5rem;

        svg {
          width: 35px;
        }
      }
    }
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    translate: -100vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    translate: 100vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
