.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  place-items: center;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .project {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.25s ease;
      background: linear-gradient(
        to bottom,
        rgba(16, 17, 19, 0.6),
        rgba(16, 17, 19, 0.95)
      );
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .picture {
          img {
            transform: scale(1.1);
          }
        }

        // .details {
        //   opacity: 1;
        //   transform: translateY(0);
        //   transition: all 0.25s ease;
        //   pointer-events: initial;
        // }
      }
    }

    .picture {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      display: flex;

      img {
        transition: all 0.5s ease;
      }
    }

    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 3rem;
      z-index: 1;

      .name {
        font-weight: 700;
        color: #fff;
        font-size: 2.6rem;
      }

      .resume {
        color: #999;
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 1.6rem;
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
