.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  pointer-events: none;

  &.open {
    pointer-events: initial;

    .fade {
      opacity: 1;
    }

    .drawer {
      transform: translateY(5rem);
      transition: all 0.5s ease-out;

      @media screen and (max-width: 767px) {
        transform: translateY(0);
      }
    }
  }

  .fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .drawer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 20px;
    background: #101113;
    width: 800px;
    max-width: calc(100vw - 5rem);
    z-index: 300;
    transform: translateY(-100vh);
    transition: all 0.25s ease-in;
    height: calc(100svh - 10rem);
    max-height: 600px;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      border-radius: 0 0 20px 20px;
    }

    .picture {
      height: 250px;
      overflow: hidden;
    }

    .details {
      padding: 3rem;
      flex: 1;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 767px) {
        padding: 2rem;
      }

      .name {
        color: #fff;
        font-size: 2rem;
      }

      .description {
        color: #777;
        font-size: 1.6rem;
        transition: all 0.25s ease;
        line-height: 1.5;
        letter-spacing: 1px;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .techs {
        color: #555;
        font-size: 1.6rem;
        transition: all 0.25s ease;
        line-height: 1.5;
        letter-spacing: 1px;
        position: relative;
        margin-top: 1rem;
        font-weight: 500;
        margin-bottom: 3rem;
      }
    }
  }
}
