@mixin animation($name: name, $range: range, $timeline: timeline) {
  animation: $name 1s forwards;
  animation-timeline: $timeline;
  animation-range: $range;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .project {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background: linear-gradient(to top, #191a1d, #0b0d0e);
    overflow: hidden;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      @include animation(fromBottom, cover 0% cover 30%, view());
    }

    .picture {
      width: 100%;
      position: relative;
      overflow: hidden;
      height: 300px;

      @media screen and (max-width: 767px) {
        border-radius: 0;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      padding: 3rem;

      @media screen and (max-width: 767px) {
        padding: 2rem;
      }

      .name {
        font-weight: 700;
        color: #fff;
        font-size: 2.6rem;
      }

      .resume {
        color: #777;
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: clamp(1.4rem, 3vw, 1.6rem);
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }

      .techs {
        margin-top: 3rem;
        display: flex;
        gap: 1.5rem;

        svg {
          width: 35px;
        }
      }
    }
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    translate: 0 100vh;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
